<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.wyhtc.injector.RadeonVega56AirCoolingFansFix</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RadeonVega56AirCoolingFansFix</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>9.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Controller</key>
		<dict>
			<key>ATY,Iriri</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DisablePCCLimitControl</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ATY,Japura</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>
					0gAAAMwAAADGAAAAwAAAALoAAAC0AAAAqgAA
					AKAAAACWAAAAjAAAAIIAAAB4AAAAbgAAAGQA
					AABaAAAAHgAAAA==
					</data>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DiDtSQPatternWidthOverride</key>
					<integer>14</integer>
					<key>PP_DiDtSQStallPatternOverride</key>
					<integer>16383</integer>
					<key>PP_DisableDIDT</key>
					<integer>0</integer>
					<key>PP_DisablePCCLimitControl</key>
					<integer>1</integer>
					<key>PP_PhmUseDummyBackEnd</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>ATY,Kamarang</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DisablePCCLimitControl</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>ATY,Ucayali</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>
					0gAAAMwAAADGAAAAwAAAALoAAAC0AAAAqgAA
					AKAAAACWAAAAjAAAAIIAAAB4AAAAbgAAAGQA
					AABaAAAAHgAAAA==
					</data>
					<key>CFG_USE_TCON</key>
					<true/>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DiDtSQPatternWidthOverride</key>
					<integer>14</integer>
					<key>PP_DiDtSQStallPatternOverride</key>
					<integer>16383</integer>
					<key>PP_DisableDIDT</key>
					<integer>0</integer>
					<key>PP_DisablePCCLimitControl</key>
					<integer>1</integer>
					<key>PP_PhmUseDummyBackEnd</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>ATY,Valdivia</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>
					KAAAACIAAAAhAAAAIAAAAB8AAAAeAAAAHQAA
					ABwAAAAbAAAAGgAAABkAAAAXAAAAFQAAABMA
					AAAQAAAABgAAAA==
					</data>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DiDtSQPatternWidthOverride</key>
					<integer>14</integer>
					<key>PP_DiDtSQStallPatternOverride</key>
					<integer>16383</integer>
					<key>PP_DisableDIDT</key>
					<integer>0</integer>
					<key>PP_DisablePCCLimitControl</key>
					<integer>1</integer>
					<key>PP_PhmUseDummyBackEnd</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>ATY,Wenamu</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>
					0gAAAMwAAADGAAAAwAAAALoAAAC0AAAAqgAA
					AKAAAACWAAAAjAAAAIIAAAB4AAAAbgAAAGQA
					AABaAAAAHgAAAA==
					</data>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DiDtSQPatternWidthOverride</key>
					<integer>14</integer>
					<key>PP_DiDtSQStallPatternOverride</key>
					<integer>16383</integer>
					<key>PP_DisableDIDT</key>
					<integer>0</integer>
					<key>PP_DisablePCCLimitControl</key>
					<integer>1</integer>
					<key>PP_PhmUseDummyBackEnd</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>ATY,Xingu</key>
			<dict>
				<key>aty_config</key>
				<dict>
					<key>CFG_NVV</key>
					<integer>2</integer>
					<key>CFG_PTPL2_TBL</key>
					<data>
					KAAAACIAAAAhAAAAIAAAAB8AAAAeAAAAHQAA
					ABwAAAAbAAAAGgAAABkAAAAXAAAAFQAAABMA
					AAAQAAAABgAAAA==
					</data>
				</dict>
				<key>aty_properties</key>
				<dict>
					<key>PP_DiDtSQPatternWidthOverride</key>
					<integer>14</integer>
					<key>PP_DiDtSQStallPatternOverride</key>
					<integer>16383</integer>
					<key>PP_DisableDIDT</key>
					<integer>0</integer>
					<key>PP_DisablePCCLimitControl</key>
					<integer>1</integer>
					<key>PP_PhmUseDummyBackEnd</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD10000Controller</string>
			<key>IOClass</key>
			<string>AMD10000Controller</string>
			<key>IOMatchCategory</key>
			<string>ATIFramebuffer</string>
			<key>IOName</key>
			<string>AMD10000Controller</string>
			<key>IOPCIMatch</key>
			<string>0x68601002 0x68611002 0x68621002 0x68631002 0x68641002 0x68671002 0x68681002 0x68691002 0x686A1002 0x686B1002 0x687F1002 0x686C1002 0x69A01002 0x69AF1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65050</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadController</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>aty_config</key>
			<dict>
				<key>CFG_APER_MODE</key>
				<integer>1</integer>
				<key>CFG_CAA</key>
				<integer>0</integer>
				<key>CFG_FB_LIMIT</key>
				<integer>0</integer>
				<key>CFG_FORCEMAXDPM</key>
				<false/>
				<key>CFG_FORCE_MAX_DPS</key>
				<false/>
				<key>CFG_GEN_FLAGS</key>
				<integer>0</integer>
				<key>CFG_INT_SSPC</key>
				<integer>25</integer>
				<key>CFG_NODM</key>
				<true/>
				<key>CFG_NON_ZERO_MC_LOC</key>
				<true/>
				<key>CFG_NO_HDCP</key>
				<false/>
				<key>CFG_NO_MSI</key>
				<false/>
				<key>CFG_NO_MST</key>
				<false/>
				<key>CFG_NO_PP</key>
				<false/>
				<key>CFG_NO_SLS</key>
				<false/>
				<key>CFG_PAA</key>
				<integer>0</integer>
				<key>CFG_PULSE_INT</key>
				<true/>
				<key>CFG_TRANS_WSRV</key>
				<true/>
				<key>CFG_USE_AGDC</key>
				<true/>
				<key>CFG_USE_CP2</key>
				<true/>
				<key>CFG_USE_DPT</key>
				<true/>
				<key>CFG_USE_FBC</key>
				<false/>
				<key>CFG_USE_FEDS</key>
				<true/>
				<key>CFG_USE_LPT</key>
				<false/>
				<key>CFG_USE_REGAMMA</key>
				<true/>
				<key>CFG_USE_SRRB</key>
				<false/>
				<key>CFG_USE_STUTTER</key>
				<true/>
				<key>CFG_USE_SWIP</key>
				<true/>
				<key>DALReadDelayStutterOff</key>
				<integer>4</integer>
				<key>DALUseUrgencyWaterMarkOffset</key>
				<integer>0</integer>
			</dict>
			<key>aty_properties</key>
			<dict>
				<key>PP_ACDCGpioDisabled</key>
				<integer>0</integer>
				<key>PP_DisableACG</key>
				<integer>1</integer>
				<key>PP_DisableAVFS</key>
				<integer>0</integer>
				<key>PP_DisableClockStretcher</key>
				<integer>1</integer>
				<key>PP_DisableDIDT</key>
				<integer>1</integer>
				<key>PP_DisablePCCLimitControl</key>
				<integer>0</integer>
				<key>PP_DisablePPTuning</key>
				<integer>1</integer>
				<key>PP_DisablePowerContainment</key>
				<integer>1</integer>
				<key>PP_DisableULV</key>
				<integer>1</integer>
				<key>PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP_FuzzyFanControl</key>
				<integer>0</integer>
				<key>PP_PhmSoftPowerPlayTable</key>
				<data>
				tgIIAQBcAOEGAADuKwAAGwBIAAAAgKkDAPBJAgCOAAgA
				AAAAAAAAAAAAAAAAAAIBXABPAkYClACeAb4AKAF6AIwA
				vAEAAAAAcgIAAJAAqAJtAUMBlwHwSQIAcQICAgAAAAAA
				AAgAAAAAAAAABQAHAAMABQAAAAAAAAABCIQDhAO2A+gD
				GgRMBGAEYAQBAbYDAQGEAwAIYOoAAABAGQEAAYA4AQAC
				3EoBAAOQXwEABAB3AQAFkJEBAAZQvQEABwEI0EwBAAAA
				gAAAAAAAAESNAQABAAAAAAAAAADcxwEAAgAAAAAAAAAA
				mPwBAAMAAAAAAAAAANgbAgAEAAAAAAAAAAD0QAIABQAA
				AAABAAAAHGQCAAYAAAAAAQAAABhtAgAHAAAAAAEAAAAA
				BWDqAAAAQBkBAACAOAEAANxKAQAAkF8BAAAACChuAAAA
				LMkAAAH4CwEAAoA4AQADkF8BAAT0kQEABdCwAQAGOMEB
				AAcACGw5AAAAJF4AAAH8hQAAAqy8AAADNNAAAARobgEA
				BQiXAQAGsK0BAAcAAWg8AQAAAQQ8QQAAAAAAUMMAAAAA
				AIA4AQACAACAOAEABAAAAQgAmIUAAEC1AABg6gAAUMMA
				AAGAuwAAYOoAAJQLAQBQwwAAAgDhAACUCwEAQBkBAFDD
				AAADeP8AAEAZAQCIJgEAUMMAAARAGQEAgDgBAIA4AQBQ
				wwAABYA4AQDcSgEA3EoBAFDDAAAGAHcBAAB3AQCQXwEA
				UMMAAAeQkQEAkJEBAAB3AQBQwwAAARgAAAAAAAAACwAA
				vAKIEygACgBUA5ABkAGQAZABkAGQAZABAAAAAAACBDEH
				kAGQAZABkAEAAFkAaQBKAEoAXwBzAHMAZABAAJCSl2CW
				AJBVAAAAAAAAAAAAAAAAAAAAAAACAtQwAAACEGDqAAAC
				EA==
				</data>
				<key>PP_PhmUseDummyBackEnd</key>
				<integer>0</integer>
				<key>PP_ToolsLogSpaceSize</key>
				<integer>524288</integer>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>RadeonVega56AirCoolingFansFix 9.9 Copyright © 2017 wyhtc. All rights reserved.</string>
</dict>
</plist>
